target/
*~
.class
.metadata
bin/
.polyglot*

bundles/.settings/

bundles/com.liferay.ide.logging.config/.settings/

bundles/com.liferay.ide.p2.ui/.settings/

bundles/com.liferay.ide.platform/.settings/

bundles/com.liferay.ide.platform.linux/.settings/

bundles/com.liferay.ide.plugin1/.settings/

com.liferay.ide.fatjar/.settings/

com.liferay.ide.plugin1.tests/.settings/

com.liferay.ide.plugin1.tests.junit4/.settings/

com.liferay.ide.rcp.it.tests/.settings/

com.liferay.ide.rcp.tests/.settings/

features/.settings/

releng/.settings/

releng/com.liferay.ide.product/.settings/

releng/com.liferay.ide.update/.settings/

.settings/
